<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @clinic.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @clinic.postcode %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
